ibmi-interact-flow.json
[{"id":"f2fc6749.6765f","type":"tab","label":"IBMi","disabled":false,"info":""},{"id":"66a166ef.50e9c","type":"inject","z":"f2fc6749.6765f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":400,"wires":[["1603cee5.373361"]]},{"id":"1603cee5.373361","type":"exec","z":"f2fc6749.6765f","command":"uname -a","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":540,"y":400,"wires":[["3e908892.7b3fb"],["3e908892.7b3fb"],["3e908892.7b3fb"]]},{"id":"3e908892.7b3fb","type":"debug","z":"f2fc6749.6765f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":400,"wires":[]},{"id":"6d9ed126.eaaaa","type":"DB2 for i","z":"f2fc6749.6765f","mydb":"ce243296.786dc","name":"","arraymode":true,"x":560,"y":100,"wires":[["2b36d098.0a0f7","3351374b.0b4dd8","70fddf8.309262"]]},{"id":"cfdbb429.a84b28","type":"inject","z":"f2fc6749.6765f","name":"","topic":"","payload":"SELECT * FROM QIWS.QCUSTCDT","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":160,"wires":[["fd94066a.3cea98"]]},{"id":"2b36d098.0a0f7","type":"debug","z":"f2fc6749.6765f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":40,"wires":[]},{"id":"3351374b.0b4dd8","type":"file","z":"f2fc6749.6765f","name":"","filename":"/tmp/ipug-data","appendNewline":false,"createDir":false,"overwriteFile":"true","x":760,"y":160,"wires":[[]]},{"id":"b8a51d09.875a1","type":"file in","z":"f2fc6749.6765f","name":"","filename":"/tmp/ipug-data","format":"utf8","chunk":false,"sendError":false,"x":760,"y":240,"wires":[["9dcfb60d.c5ade8"]]},{"id":"fd9038f7.4a2368","type":"inject","z":"f2fc6749.6765f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":240,"wires":[["b8a51d09.875a1"]]},{"id":"a88ecc27.52e5b","type":"debug","z":"f2fc6749.6765f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1070,"y":240,"wires":[]},{"id":"9dcfb60d.c5ade8","type":"json","z":"f2fc6749.6765f","name":"","property":"payload","action":"","pretty":false,"x":930,"y":240,"wires":[["a88ecc27.52e5b"]]},{"id":"63bf6f27.8fb2f","type":"http in","z":"f2fc6749.6765f","name":"","url":"/qcustcdt","method":"get","upload":false,"swaggerDoc":"","x":110,"y":100,"wires":[["fd94066a.3cea98"]]},{"id":"fd94066a.3cea98","type":"change","z":"f2fc6749.6765f","name":"QIWS.QCUSTCDT","rules":[{"t":"set","p":"payload","pt":"msg","to":"SELECT * FROM QIWS.QCUSTCDT order by lstnam","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":100,"wires":[["6d9ed126.eaaaa"]]},{"id":"70fddf8.309262","type":"template","z":"f2fc6749.6765f","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#payload}}\n <div class=row>\n     <details>\n         <summary>\n         <span class=name >{{LSTNAM}},{{INIT}}</span>\n         </summary>\n        <span class=address>{{CITY}},{{STATE}}</span>\n     </details>\n </div>\n{{/payload}}","output":"str","x":740,"y":100,"wires":[["445b833e.3ed68c"]]},{"id":"b4b51e1b.adbeb","type":"http response","z":"f2fc6749.6765f","name":"","statusCode":"","headers":{},"x":1070,"y":100,"wires":[]},{"id":"445b833e.3ed68c","type":"switch","z":"f2fc6749.6765f","name":"","property":"req","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":910,"y":100,"wires":[["b4b51e1b.adbeb"]]},{"id":"d4674be6.3b2d08","type":"inject","z":"f2fc6749.6765f","name":"","topic":"","payload":"select distinct state from qiws.qcustcdt order by 1 asc","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":160,"wires":[["6d9ed126.eaaaa"]]},{"id":"5c4205c6.df6084","type":"inject","z":"f2fc6749.6765f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":460,"wires":[["b98851d4.615b08"]]},{"id":"b98851d4.615b08","type":"exec","z":"f2fc6749.6765f","command":"env | grep PATH","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":560,"y":460,"wires":[["8801c3fa.9bb308"],["8801c3fa.9bb308"],["8801c3fa.9bb308"]]},{"id":"8801c3fa.9bb308","type":"debug","z":"f2fc6749.6765f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1070,"y":460,"wires":[]},{"id":"ba3482e0.8f5b78","type":"inject","z":"f2fc6749.6765f","name":"","topic":"","payload":"WRKACTJOB","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":640,"wires":[["122e6b66.45c8cd"]]},{"id":"122e6b66.45c8cd","type":"exec","z":"f2fc6749.6765f","command":"system ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":300,"y":640,"wires":[["672f2748.fb30b","afa820d5.ad327"],[],[]]},{"id":"95e29b31.32d908","type":"debug","z":"f2fc6749.6765f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":920,"wires":[]},{"id":"672f2748.fb30b","type":"change","z":"f2fc6749.6765f","name":"array of lines","rules":[{"t":"set","p":"payload","pt":"msg","to":"$split(payload, '\\n')\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":700,"wires":[["6b6419e2.5dc7e8","f422f621.500f8"]]},{"id":"6b6419e2.5dc7e8","type":"change","z":"f2fc6749.6765f","name":"active jobs row","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[8]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":760,"wires":[["908d6d77.3a37b","49bfcafd.2d7d7c"]]},{"id":"908d6d77.3a37b","type":"change","z":"f2fc6749.6765f","name":"tokenize","rules":[{"t":"set","p":"payload","pt":"msg","to":"$split(payload, ' ')\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":820,"wires":[["51c55fa0.e1bfb","335c1de0.9cccea"]]},{"id":"51c55fa0.e1bfb","type":"change","z":"f2fc6749.6765f","name":"last item","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[$count(payload)-1]\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":880,"wires":[["84f3f1c8.1a4348","fb40572a.f7ba7"]]},{"id":"84f3f1c8.1a4348","type":"switch","z":"f2fc6749.6765f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"150","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":940,"wires":[["95e29b31.32d908","854f047e.b0ab48"],[]]},{"id":"854f047e.b0ab48","type":"link out","z":"f2fc6749.6765f","name":"wrkactjob","links":["f9e0838b.5eecd8"],"x":675,"y":960,"wires":[]},{"id":"afa820d5.ad327","type":"debug","z":"f2fc6749.6765f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":620,"wires":[]},{"id":"f422f621.500f8","type":"debug","z":"f2fc6749.6765f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":680,"wires":[]},{"id":"49bfcafd.2d7d7c","type":"debug","z":"f2fc6749.6765f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":740,"wires":[]},{"id":"335c1de0.9cccea","type":"debug","z":"f2fc6749.6765f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":800,"wires":[]},{"id":"fb40572a.f7ba7","type":"debug","z":"f2fc6749.6765f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":860,"wires":[]},{"id":"acb5082b.907e98","type":"inject","z":"f2fc6749.6765f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":520,"wires":[["4d1d013a.8dee1"]]},{"id":"4d1d013a.8dee1","type":"exec","z":"f2fc6749.6765f","command":"env","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":530,"y":520,"wires":[["650b01b2.870098"],["869e5dc4.77e9d"],["869e5dc4.77e9d"]]},{"id":"869e5dc4.77e9d","type":"debug","z":"f2fc6749.6765f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1070,"y":520,"wires":[]},{"id":"650b01b2.870098","type":"change","z":"f2fc6749.6765f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$split(payload,\"\\n\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":500,"wires":[["869e5dc4.77e9d"]]},{"id":"e9ecd73f.829ce8","type":"DB2 for i","z":"f2fc6749.6765f","mydb":"ce243296.786dc","name":"","arraymode":false,"x":520,"y":1020,"wires":[["275faefe.81614a"]]},{"id":"ff152cc0.6f516","type":"inject","z":"f2fc6749.6765f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1020,"wires":[["d2a2bb20.cc9f78"]]},{"id":"d2a2bb20.cc9f78","type":"template","z":"f2fc6749.6765f","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select ACTIVE_JOBS_IN_SYSTEM \n    from QSYS2.SYSTEM_STATUS_INFO","output":"str","x":320,"y":1020,"wires":[["e9ecd73f.829ce8"]]},{"id":"275faefe.81614a","type":"debug","z":"f2fc6749.6765f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":720,"y":1020,"wires":[]},{"id":"ce243296.786dc","type":"DB2 for i Config","z":"","cnnname":"gcc","db":"*LOCAL","keepalive":true}]