ibmi-watson-intro-flow.json
[{"id":"13d2514a.97f7af","type":"watson-translator","z":"af16372.7b36bc8","name":"translate","action":"translate","basemodel":"en-nl","domain":"general","srclang":"en","destlang":"nl","password":"","apikey":"CcH3hsM4gLT1iaQlzcwYie7TxJ5ajg34fue6l_jQb_Zs","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"nl","basemodelhidden":"en-nl","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":false,"service-endpoint":"https://gateway-fra.watsonplatform.net/language-translator/api","x":580,"y":780,"wires":[["dd8fe6e4.b3f788","cde79dd4.f2b6e8"]]},{"id":"5f2d3d3c.b547e4","type":"http in","z":"af16372.7b36bc8","name":"","url":"/translate","method":"get","upload":false,"swaggerDoc":"","x":120,"y":780,"wires":[["b1e8305b.b2f048","a1ef8aff.29044"]]},{"id":"b1e8305b.b2f048","type":"change","z":"af16372.7b36bc8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.query.text","tot":"msg"},{"t":"set","p":"srclang","pt":"msg","to":"req.query.src","tot":"msg"},{"t":"set","p":"destlang","pt":"msg","to":"req.query.tgt","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":780,"wires":[["13d2514a.97f7af"]]},{"id":"dd8fe6e4.b3f788","type":"http response","z":"af16372.7b36bc8","name":"","statusCode":"","headers":{},"x":810,"y":780,"wires":[]},{"id":"98d3d227.faedc8","type":"inject","z":"af16372.7b36bc8","name":"","topic":"","payload":"i hope youre having a good day","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":840,"wires":[["13d2514a.97f7af"]]},{"id":"cde79dd4.f2b6e8","type":"debug","z":"af16372.7b36bc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":790,"y":840,"wires":[]},{"id":"a1ef8aff.29044","type":"debug","z":"af16372.7b36bc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":270,"y":920,"wires":[]},{"id":"107028ef.79031f","type":"watson-conversation-v1","z":"af16372.7b36bc8","name":"IBMi-chat","workspaceid":"1ccbda77-1cb2-445d-a6c1-1008f90c1e1b","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"","timeout":"","optout-learning":false,"x":560,"y":1080,"wires":[["cd4eab74.6902c8"]]},{"id":"b16fd0d0.3eee2","type":"inject","z":"af16372.7b36bc8","name":"","topic":"","payload":"what is the CPU load","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":1080,"wires":[["107028ef.79031f"]]},{"id":"cd4eab74.6902c8","type":"debug","z":"af16372.7b36bc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":1080,"wires":[]}]